
<footer class="border-top">
    <a href="#" class="btn scroll-laptop" data-controller="scroll">
        <span class="" data-scroll-target="scroll" data-action="scroll@window->scroll#updateScroll">
            <i class="fa-sharp fa-solid fa-caret-up fa-bounce fa-xs" style="color: #21ff9d;"></i>
        </span>
    </a>

    <div class="container text-center pb-2">
        <div class="row">
            <%# <div class='footer-top'>
                <div class='col footer-col'>
                    <h3>Menu</h3>
                    <a href="#">Accueil</a>
                    <a href="#">Associations</a>
                    <a href="#">Évènements</a>
                    <a href="#">Profil</a>
                </div>
                <div class='col footer-col'>
                    <h3>Menu</h3>
                    <a href="#">Accueil</a>
                    <a href="#">Associations</a>
                    <a href="#">Évènements</a>
                    <a href="#">Profil</a>
                </div>
            </div> %>
            <div class="col footer-middle pt-2">
                <h3>Restez à jour</h3>
                <form>
                    <label for="newsletter">Inscrivez-vous à la newsletter pour recevoir les dernières informations.</label>
                    <div>
                        <input type="email" name="newsletter" id="newsletter" placeholder="exemple@gmail.com" required>
                        <input type="submit" value="Inscription">
                    </div>
                </form>
            </div>
            <div class="col footer-bottom mt-2">
                <a href="https://facebook.com" target="_blank" class="social"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://linkedin.com" target="_blank" class="social"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://twitter.com" target="_blank" class="social"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
            <div class="copyright-text text-center" data-controller="current-year">
                <p>Copyright&nbsp;&copy;&nbsp;<a href="//www.dannacode.com" target="_blank">DannaCode</a>&nbsp;<span data-current-year-target="year"></span>.&nbsp;Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>
