.simple-calendar {
    table {
      min-height: 80vh;
    }
    .today {
      background-color: #FAF3DD;
    }
  }
  
  .meeting {
    color: white;
    border: 1px;
    border-radius: 4px;
    background: #01989F;
    transition: background 0.3s ease;
  }
  
  .meeting:hover {
    background: #017278;
    color: white;
  }

.meeting p {
    display: table-cell;
    font-size: 13px;
}

.phone-view {
    display: none;
}

.bouton-calendrier {
  padding: 7px;
  font-size: 25px;
  background-color: #01989F;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px;
}

@media screen and (max-width: 560px) {
    .phone-view {
        display: block;
        margin: auto;
    }
    .desktop-view {
        display: none;
    }
    .truncated-title {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
}
