$light-gray: #F4F4F4;
$primary-color: #fff;
$border-radius: 5px;
$black-color: #010004;
$hover-color: #CEAB93;
$transition-duration: 0,5s;
$color: #01989f; // so that we can transform it with SCSS
$altColor: saturate(lighten(adjust-hue($color, 25deg), 5), 10);

.bp-index-container-ac {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  .bp-container-grid-ac {
    background-color: $primary-color;
    position: relative;
    display: grid;
    grid-template-columns: 300px 600px;
    border-radius: $border-radius;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    transition: box-shadow $transition-duration ease;
  
    img {
      
      width: 300px;
      height: 300px;
      border-radius: $border-radius 0 0 $border-radius;
    }
  
    .bouton-ac {
      position: absolute;
      bottom: -20px;
      right: -20px;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      background-color: #EEE3CB;
      color: $black-color;
      padding: 22px 45px;
      font-size: 1rem;
      text-transform: uppercase;
      border-radius: $border-radius;
      cursor: pointer;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.294);
      transition: background-color $transition-duration ease;
  
      i {
        margin-left: 20px;
        font-size: 1.5rem;
      }
    }
    &:hover {  
        .bouton-ac {
          color: $primary-color;
          background-color: $hover-color;
          transition: color $primary-color  $transition-duration ease;
        }
    }
}

.affichage-ac {
    margin-top: 30px;
    display: grid;
    grid-gap: 30px;
  }

.container__ac {
padding: 40px 40px 0;

    h1 {
        color: $black-color;
        font-weight: 400;

    }

    p {
        font-size: 20px;

    }

    .container__ac__timing {
        display: flex;
        margin: 20px 0 10px;

        .container__ac__timing_time {
        margin-right: 40px;
        }

        h2 {
        margin-bottom: 5px;
        font-size: 1rem;
        font-weight: 400;
        color: #818189;
        }

        p {
        color: $black-color;
        font-weight: bold;
        font-size: 1.2rem;
        }
    }
}


.card-ac {
  min-height: 650px;
}

.card-body {
  background-image: linear-gradient(175deg, $color 15%, transparent 50%);
  background-color: #00284C;
  color: #ffffff;
  transition: background-position 0.5s ease;
}

.bouton-ac {
  padding: 7px;
  font-size: 25px;
  background-color: #01989F;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.bouton-ac:hover {
  font-size: 27px;
  background-color: #00e5bc;
}

.card-bottom {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00284C;
}

.photo-taille {
  max-height: 230px;
}

.photo-taille-ac {
  height: 300px;
  background-color: #fff;
}
.para-card {
  color: #F4F4F4;
  background-color: #00284C;
  font-weight: 600;
  margin: 0;
}

.card-title {
  font-size: 35px;
  font-weight: 800;
}

.mode-phone{
  display: none;
}

@media(max-width:560px)  {
  .mode-phone {
    display: block;
  }
}