// Petite banderol pour la date de l'evenement

.date-start{
    background: #01989f;
    box-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: -9px;
    top: 25px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}
.date-start:before{
    border: 4px solid transparent;
    border-bottom: 4px solid #01989f;
    border-left: 4px solid #01989f;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
}