

.button-registration{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-registration-submit {
  width: 50%;
  margin-bottom: 10px;
}

.button-registration-password {
  margin-top: 10px;
}

