.navbar-lewagon {
  justify-content: space-between;
  background: #01989f;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avat-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 560px) {
  .avat-pic {
    display: none;
  }
  .avatar {
    display: grid;
    align-items: center;
  }
}