.section-profil {
    display: flex;
    justify-content: center;
}

.profil-avatar {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    border: 1px solid black;
}

.profil-page {
    display: flex;
    align-items: center;
}

.case-profil {
    display: flex;
}
.case-menu {
    display: flex;
}

.bouton-profil {
    padding: 7px;
    font-size: 25px;
    background-color: #01989F;
    color: #ffffff !important;
    border-radius: 5px;
    box-shadow: 3px;
    cursor: pointer;
}

.bouton-deco {
    padding: 7px;
    font-size: 25px;
    background-color: #852204;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px;
    cursor: pointer;
}

@media screen and (max-width: 560px) {
    .section-profil {
        display: flow;
    }
    .profil-page {
        flex-direction: column;
    }
    .case-profil {
        display: contents;
    }
    .case-menu {
        justify-content: center;
    }
    .bouton-profil, .bouton-deco {
        font-size: 16px;
    }
}